---
import portfolioData from "../data/portfolio.json";
const { heading, jobs } = portfolioData.experience;
---

<section id="experience">
	<h3 class="content-heading">{heading}</h3>
	<div class="experience-list">
		{
			jobs.map(job => (
				<div>
					<p class="job-title">
						{job.role} @
						<a
							class="highlight-link"
							target="_blank"
							href={job.companyUrl}
						>
							{job.company}
						</a>
						{job.companySuffix && <Fragment set:html={job.companySuffix} />} {job.location}
					</p>
					<ul>
						{
							job.bullets.map(bullet => (
								<li set:html={bullet} />
							))
						}
					</ul>
				</div>
			))
		}
	</div>
</section>

<style>
	ul {
		list-style: none;
	}
	li {
		font-family: var(--font-sans);
		font-size: var(--font-md);
		line-height: var(--line-height-md);
		color: var(--tertiary-color);
		text-decoration: none;
		margin-bottom: 10px;
	}
	li::before {
		content: "▹ ";
		position: relative;
		right: 5px;
		color: var(--secondary-color);
	}
	.job-title {
		font-size: var(--font-lg);
		line-height: var(--line-height-lg);
	}
	.highlight-link {
		background-color: var(--active-color);
	}
</style>
