---
import portfolioData from "../data/portfolio.json";
const { heading, list } = portfolioData.projects;
---

<section id="projects">
	<h3 class="content-heading">{heading}</h3>

	<div class="project-list">
		{
			list.map(project => (
				project.type === "one" ? (
					<div class="project-type-one">
						<div class="left">
							<img
								class="project-img"
								src={project.image.src}
								alt={project.image.alt}
							/>
						</div>
						<div class="right">
							<p class="title">{project.title}</p>
							<div class="card">
								<p class="desc">{project.description}</p>
							</div>
							<ul>
								{project.technologies.map(tech => <li>{tech}</li>)}
							</ul>
							<ul>
								{
									project.links.map(link => (
										<a
											id={link.id}
											target="_blank"
											href={link.url}
										>
											<img src={link.icon} alt={link.alt} class={link.class} height="22px" />
										</a>
									))
								}
							</ul>
						</div>
					</div>
				) : (
					<div class="project-type-two">
						<div class="left">
							<p class="title">{project.title}</p>
							<div class="card">
								<p class="desc">{project.description}</p>
							</div>
							<ul>
								{project.technologies.map(tech => <li>{tech}</li>)}
							</ul>
							<ul>
								{
									project.links.map(link => (
										<a
											id={link.id}
											target="_blank"
											href={link.url}
										>
											<img src={link.icon} alt={link.alt} class={link.class} height="22px" />
										</a>
									))
								}
							</ul>
						</div>
						<div class="right">
							<img
								class="project-img"
								src={project.image.src}
								alt={project.image.alt}
							/>
						</div>
					</div>
				)
			))
		}
	</div>
</section>

<style>
	@media only screen and (max-width: 768px) {
		.project-type-one .left {
			width: 100% !important;
			opacity: 0.15;
		}
		.project-type-one .right {
			position: absolute;
			width: 83% !important;
		}
		.right .card {
			position: relative;
			background-color: transparent;
			box-shadow: none;
			right: 0 !important;
			padding: 3px 0 0 0 !important;
		}

		.project-type-two .left {
			position: absolute;
			width: 80% !important;
			margin-left: 20px !important;
		}
		.project-type-two .right {
			width: 100% !important;
			opacity: 0.15;
		}
		.left .card {
			position: relative;
			background-color: transparent;
			box-shadow: none;
			padding: 3px 0 0 0 !important;
		}
		p,
		ul > li {
			color: var(--primary-color);
		}
		ul {
			display: flex;
			flex-wrap: wrap;
			position: relative;
		}
	}
	.project-list > * {
		margin-bottom: 100px;
	}
	.project-type-one {
		display: flex;
		align-items: center;
		width: 100%;
	}
	.project-type-one .left {
		width: 60%;
	}
	.project-type-one .right {
		width: 40%;
		text-align: right;
	}
	.project-img {
		height: 320px;
		object-fit: cover;
	}
	.left .project-img {
		width: 100%;
		border-radius: 10px;
		box-shadow: rgb(2 12 27 / 70%) 0px 10px 30px -10px;
	}
	.title {
		font-size: var(--font-2xl);
		font-weight: 500;
		line-height: 0;
		color: var(--primary-color);
		margin-top: 0;
		padding-top: 0;
	}
	.card {
		position: relative;
		width: 100%;
		border-radius: 10px;
		padding: 10px 20px;
		background-color: var(--card-color);
		box-shadow: rgb(2 12 27 / 70%) 0px 10px 30px -10px;
	}
	.right .card {
		right: 40px;
	}
	.right ul {
		display: flex;
		justify-content: flex-end;
		padding: 0;
		margin: 0;
		list-style: none;
	}
	.right ul > * {
		padding-left: 20px;
		margin-top: 20px;
	}
	li {
		font-family: var(--font-mono);
		font-size: var(--font-sm);
		color: var(--tertiary-color);
	}

	.project-type-two {
		display: flex;
		align-items: center;
		width: 100%;
	}
	.project-type-two .left {
		width: 40%;
	}
	.project-type-two .right {
		width: 60%;
	}
	.right .project-img {
		width: 100%;
		border-radius: 10px;
		box-shadow: rgb(2 12 27 / 70%) 0px 10px 30px -10px;
	}
	.left ul {
		display: flex;
		justify-content: flex-start;
		padding: 0;
		margin: 0;
		list-style: none;
	}
	.left ul > * {
		padding-right: 20px;
		margin-top: 20px;
	}
	ul > a {
		filter: brightness(0) invert(1);
	}
</style>
